header {
    background-color: #9391919e;
    height: 15rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

.logo img {
    width: 30rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color:rgba(13, 6, 27, 0.549)
}